# ignore the virtual env
.venv/
env37/
working_code/myenv/

# ignore the working folder
Mine/

# ignore the datasets
data/
behavior_log.csv
behavior_log.csv.tar.gz



# ignore irrelevant folder
MIR/
RAPID/
RAPID_preprocess_ml/



