# ignore the virtual env
.venv/
env37/

# ignore the working folder
Mine/

# ignore the datasets
data/
behavior_log
behavior_log.csv.tar.gz
preprocess_ml



# ignore irrelevant folder
MIR/
RAPID/
RAPID_preprocess_ml/



