absl-py 
alembic 
annotated-types 
anyio 
archspec 
argon2-cffi 
argon2-cffi-bindings 
arrow 
asttokens 
astunparse 
async-generator==1.10
async-lru 
attrs 
Babel 
beautifulsoup4 
bleach 
blinker 
boltons 
Brotli 
cached-property 
certifi 
certipy==0.1.3
cffi 
charset-normalizer 
colorama 
comm 
conda 
conda-libmamba-solver 
conda-package-handling 
conda_package_streaming 
contourpy 
cryptography 
cycler 
debugpy 
decorator 
defusedxml 
dgl 
distro 
entrypoints 
exceptiongroup 
executing 
fastjsonschema 
filelock 
flatbuffers 
fonttools 
fqdn 
frozendict 
fsspec 
gast 
gmpy2 
google-pasta==0.2.0
greenlet 
grpcio 
h11 
h2 
h5py 
hpack==4.0.0
httpcore 
httpx 
hyperframe 
idna 
importlib_metadata 
importlib_resources 
ipykernel 
ipyparallel 
ipython 
isoduration 
jedi 
Jinja2 
joblib 
json5 
jsonpatch 
jsonpointer 
jsonschema 
jsonschema-specifications 
jupyter-events 
jupyter-lsp 
jupyter-telemetry 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterhub 
jupyterlab 
jupyterlab_pygments 
jupyterlab_server 
keras 
kiwisolver 
libmambapy 
Mako 
mamba 
Markdown 
markdown-it-py 
MarkupSafe 
matplotlib==3.9.1
matplotlib-inline 
mdurl 
menuinst 
mistune 
ml-dtypes 
mpmath 
munkres==1.1.4
namex 
nbclient 
nbconvert 
nbformat 
nest_asyncio 
networkx 
notebook 
notebook_shim 
numpy 
oauthlib 
opt-einsum 
optree 
overrides 
packaging 
pamela 
pandas 
pandocfilters 
parso 
patsy 
pexpect 
pickleshare 
pillow 
pkgutil_resolve_name 
platformdirs 
pluggy 
prometheus_client 
prompt_toolkit 
protobuf==4.25.3
psutil 
ptyprocess 
pure_eval 
pycosat 
pycparser 
pycurl 
pydantic 
pydantic_core 
pydot 
Pygments 
PyJWT 
pyOpenSSL 
pyparsing 
PySocks 
python-dateutil 
python-json-logger 
pytz 
PyYAML 
pyzmq 
referencing 
requests 
rfc3339-validator 
rfc3986-validator 
rich 
rpds-py 
ruamel.yaml 
ruamel.yaml.clib 
scikit-learn 
scipy 
seaborn 
Send2Trash 
six 
sniffio 
soupsieve 
SQLAlchemy 
stack-data 
statsmodels 
sympy 
tensorboard 
tensorboard-data-server 
tensorflow 
tensorflow_estimator 
termcolor 
terminado 
threadpoolctl 
tinycss2 
tomli 
torch 
torchaudio==2.3.1
torchdata 
torchvision==0.18.1
tornado 
tqdm 
traitlets 
truststore 
types-python-dateutil 
typing-utils 
typing_extensions 
tzdata 
unicodedata2 
uri-template 
urllib3 
wcwidth 
webcolors 
webencodings 
websocket-client 
Werkzeug 
wrapt 
zipp 
zstandard==0.23.0
